* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
@media (max-width: 1280px) {
    html {
        font-size: 50%;
    }
}

body{
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #333;
    line-height: 1.3;
    padding: 2rem;
    width: 100vw;
    height: 100vh;
    font-size: 1.6rem;
}
 
/* LOGO START */
.tech-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19rem;  
    height: 6rem;
    margin-bottom: 2rem; 
    text-align: center; 
    
}

.tech-logo img {
    align-items: center;
    margin-top: 5px;
    margin-bottom: 9px;
    width: 15rem;
    height: 10rem;
}
/* LOGO END */

/* Main Container */
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height:65rem;
    width: 85rem; 
    background-color: rgb(212, 205, 205);
    border: none;
}
@media (max-width: 690px) {
    .main-container {
        flex-direction: column;
        width: 100%;
        height: auto;
        padding: 1.5rem;
        gap: 1.5rem;
        align-items: stretch;
    }
}

.content-container {
    background-color: rgb(200, 20, 20);
    padding: 2rem;
    border-radius: none;
    color: white;
    width: 30rem;
    margin-left: 5px;
    height: 98%; 
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;  
}
@media (max-width: 690px) {
    .content-container {
        width: 100%;
        height: auto;
        padding: 1.5rem;
        margin: 0;
    }
}

.bootcamp {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 3rem; 
    line-height: 1.0; 
    text-align: center;
    margin-bottom: 1rem;
}

.bootcamp p {
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-align: center;
    font-style: italic;
}

/* Form Container */
.form-container {
    background-color: white;
    padding-left: 3rem;
    padding-right: 2rem;
    border-radius: none;
    width: 55rem;
    height: 98%;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
@media (max-width: 692px) {
    .form-container {
        width: 100%;
        height: auto;
        padding: 1.5rem;
        margin: 0;
    }
}

.form-title h1 {
   font-size: 2.8rem;
   margin-bottom: 1rem; 
   text-align: center; 
   font-weight: 800;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}
.form-title p {
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.form-group {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column; 
    font-weight: bold;  
}

.form-group input {
    padding: 1.2rem;
    border: 2px solid #000; 
    border-radius: 5px;
    font-size: 1.4rem;
    width: 100%;
}

.form-group input:focus {
    outline: none;
}

.form-group-two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    text-align: left;
    width: 95%;
    white-space: nowrap;
    font-size: 1.4rem;
}

.form-group2 {
   display: flex;
   align-items: center;
   gap: 5px;
   font-size: 1.4rem;
   font-weight: bold;
}

.forgot-password {
    margin-left: 20%;
    font-size: 1.4rem;
    color: rgb(177, 24, 24);
    text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}
/* End of Form Container */

.Sign-in-btn {
    width: 100%;
    padding: 1rem;
    background-color: rgb(177,24,24);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    font-size: 1.6rem;
    cursor: pointer;
    margin-top: 2rem;
    margin-bottom: 8px;
}

.Sign-in-btn:hover {
    background-color: rgb(222, 25, 25);
}

.Sign-up {
   font-size: 1.5rem;
   text-align: center;
   font-weight: 500;
   margin-top: 1.5rem;
   margin-bottom: 1.5rem;
   margin-left: 5rem;

}

.Sign-up a {
    color: rgb(177, 24, 24);
    text-decoration: none;
    margin-top: 5px;
    cursor: pointer;
}

.Sign-up a:hover {
    text-decoration: underline;
}

.continue {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 2.5rem 0rem;
    font-size: 1.4rem;
    color: #666;
    font-weight: 500;
}

.continue::before,
.continue::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #333; 
}

.continue span {
    padding: 0 1.2rem;
}

.Social-buttons {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 3rem;
    align-items: center;
}

.google-btn, .facebook-btn, .twitter-btn, .github-btn{
    border: 2px solid #000;
    border-radius: 4px;
    padding: 4px;
    margin-bottom: 1.5rem;
    cursor: pointer;
    white-space: nowrap;
    transition: 0.3s ease;
}

 .google-btn:hover {
  transform: translateY(-6px) scale(1.05);
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.15);
}

.facebook-btn:hover {
  transform: translateY(-6px) scale(1.05);
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.15);
}

.twitter-btn:hover {
  transform: translateY(-6px) scale(1.05);
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.15);
}

.github-btn:hover {
  transform: translateY(-6px) scale(1.05);
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.15);
}
