* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #333;
    line-height: 1.3;
    padding: 20px;
    width: 100vw;
    height: 100vh;
}
 
/* LOGO START */
.tech-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;  
    height: 60px;
    margin-bottom: 20px; 
    text-align: center; 
    
}

.tech-logo img {
    align-items: center;
    margin-top: 5px;
    margin-bottom: 9px;
    width: 150px;
    height: 100px;
}
/* LOGO END */

/* Main Container */
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height:650px;
    width: 850px; 
    background-color: rgb(212, 205, 205);
    border: none;
}

.content-container {
    background-color: rgb(200, 20, 20);
    padding: 20px;
    border-radius: none;
    color: white;
    width: 300px;
    margin-left: 5px;
    height: 98%; 
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;  
}

.bootcamp {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 30px; 
    line-height: 1.0; 
    text-align: center;
    margin-bottom: 10px;
}

.bootcamp p {
    font-size: 16px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    font-style: italic;
}

/* Form Container */
.form-container {
    background-color: white;
    padding-left: 30px;
    padding-right: 20px;
    border-radius: none;
    width: 550px;
    height: 98%;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.form-title h1 {
   font-size: 28px;
   margin-bottom: 10px; 
   text-align: center; 
   font-weight: 800;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}
.form-title p {
    font-size: 14px;
    margin-bottom: 15px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column; 
    font-weight: bold;  
}

.form-group input {
    padding: 12px;
    border: 2px solid #000; 
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
}

.form-group input:focus {
    outline: none;
}

.form-group-two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    text-align: left;
    width: 95%;
    white-space: nowrap;
    font-size: 14px;
}

.form-group2 {
   display: flex;
   align-items: center;
   gap: 5px;
   font-size: 14px;
   font-weight: bold;
}

.forgot-password {
    margin-left: 20%;
    font-size: 14px;
    color: rgb(177, 24, 24);
    text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}
/* End of Form Container */

.Sign-in-btn {
    width: 100%;
    padding: 10px;
    background-color: rgb(177,24,24);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 8px;
}

.Sign-in-btn:hover {
    background-color: rgb(222, 25, 25);
}

.Sign-up {
   font-size: 15px;
   text-align: center;
   font-weight: 500;
   margin-top: 15px;
   margin-bottom: 15px;
   margin-left: 50px;

}

.Sign-up a {
    color: rgb(177, 24, 24);
    text-decoration: none;
    margin-top: 5px;
    cursor: pointer;
}

.Sign-up a:hover {
    text-decoration: underline;
}

.continue {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 25px 0px;
    font-size: 14px;
    color: #666;
    font-weight: 500;
}

.continue::before,
.continue::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #333; 
}

.continue span {
    padding: 0 12px;
}

.Social-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
    align-items: center;
}

.google-btn, .facebook-btn, .twitter-btn, .github-btn{
    border: 2px solid #000;
    border-radius: 4px;
    padding: 4px;
    margin-bottom: 15px;
    cursor: pointer;
    white-space: nowrap;
    transition: 0.3s ease;
}

 .google-btn:hover {
  transform: translateY(-6px) scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

.facebook-btn:hover {
  transform: translateY(-6px) scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

.twitter-btn:hover {
  transform: translateY(-6px) scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

.github-btn:hover {
  transform: translateY(-6px) scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}
